<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta charset="ISO-8859-1">

<head>
	<title>Bienvenue sur la plateforme des candidatures Master M2i</title>

	       <link rel="shortcut icon" type="image/x-icon" href="logo.svg">
       <!--animation-->
       <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrapp.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/progressbar_barfiller.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
     <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="logo.svg"  >
                    
                </div>
            </div>
        </div>
    </div> 

    <main> 
        <header>

            <nav>
                 <div class="logo">
                <a href="#" > <img src="logo.svg" width="150" ><br><img src="title.svg"  width="230"> </a>
            </div>
            </nav>
    
        </header>
    
        <div class="newss-carousel col-sm-12 slider-right" style="padding-right: 0;padding-left: 0;" >
    
        <div id="newss-slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                                    <div class="item  active ">
                                <div class="carousel-caption title-wrap">
                                    <a href="#" >
                                        <h2 style="text-align: center;"> Bienvenue sur la plateforme des candidatures Master M2i à la
                                           Faculté  des Sciences d'Oujda
                                           
                                        </h2> </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>


        <!-- Master/Master Spécialisés Start -->
     <div class="courses-area section-padding40 fix">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55" data-aos="fade-up" >
                            <h2>Master Spécialisé 2021/2022 </h2>
                        </div>
                     </div>
                     </div>

                </div>
        </div>


<div class="courses-area section-padding40 fix" >

        <div class="container1">

        <div class="courses-actives">

              <!-- Ingénierie Informatique -->
  <div class="properties pb-20" data-aos="fade-up">
    <div class="properties__card">
        <div class="properties__img overlay1">
            <a href="#"><img src="MII.png" alt=""></a>
        </div>
        <div class="properties__caption">
            <h1 id="Heading9">Ingénierie Informatique<br></h1> 
            <span style="color:#000000;"><strong>Type :</strong> </span><span style="color:#4255A4;">
                <strong>Specialisé</strong><br>
            </span><span style="color:#000000;">
                <strong>Responsable : </strong></span>
                <span style="color:#4255A4;"><strong>Pr MAZROUI AZZ-EDDINE</strong><br><br></span>
                <span style="color:#000000;">
                    <strong>  le candidat est invité à s'identifier avec son compte  pour poursuivre la préinscription en ligne,
                        Cliquez sur  s'inscrire et compléter vos informations personnelles.
                        <span id="dots1">...</span><span id="more1">
                    
                         <br><br><span style="color:#ff0033;">
                           <strong>NB</strong></span><span style="color:#000000;">
                               .Toute fausse information entraînera l'annulation de votre inscription.<br></span></span>
                           </strong>
                           <span onclick="myFunction1()" id="myBtn1">Lire la suite</span>
                        <h3><a href="AfficheIngI_A3.pdf" target="_blank"><b> Descriptif M2i </b></a></h3>
            <a th:href="@{/login}" class="border-btn border-btn2" target="_blank">Se connecter</a>
            <a th:href="@{/register}" class="border-btn border-btn2" target="_blank">S'inscrire</a>
        </div>

    </div>
</div>



                    </div>
            </div>
        </div>
          
 



<!--fiiiin-->

    </div>
</div>
</div>

<footer class="footer-distributed">

			<div class="footer-left">

                <div class="logo">
                    <img src="logo.svg" width="165"  ><br>
            
                <img src="titre.png" width="170">
                  </div>

                
              <div class="socialLinks">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/UniversityOUJDA/" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCyFXZbYLiKOkthY26bCPn1Q" target="_blank" >
                      <i class="fab fa-youtube"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/ump_oujda_48/" target="_blank">
                            <i class="fab fa-instagram"></i>
        
                        
                        </a>
                    </li>
                </ul>
            </div>
        </div>

			<div class="footer-center">
                <div>
                    <i class="fa fa-map-marker"></i>
                    <p> Faculté des Sciences<br>
                        BV Mohammed VI - BP 717 Oujda 60000<br>Maroc</p>
                  </div>
              <div>
                <i class="fa fa-phone"></i>
                <p> +212 536500601/2</p>
              </div>
                  <div>
                <i class="fa fa-fax"></i>
                <p> +212 536500603</p>
              </div>
              <div>
                <i class="fas fa-globe"></i>
                <p><a href="http://fso.ump.ma/" target="_blank"><u>www.fso.ump.ma</a></u></p>
            </div>
            
              
                <!--<p><a href="anas.talhaoui@ump.ac.ma">anas.talhaoui@ump.ac.ma</a></p>-->

   
            </div>

			<div class="footer-right">

				<p class="footer-fso-about">
					<span>À propos : </span> <br>
                        
                    Plateforme de la pré-inscription en ligne  des candidatures Master M2i à la
                                           Faculté  des Sciences d'Oujda 2021/2022				
                
			</div>
		</footer>
        <div class="ftr">
            <div class="col-sm-12">
                <div class="content">
                    <p>
                        <b> By : ANAS & IMAD  </b> </br>

                        <b> Copyright &copy;  FSO - Oujda 2022  </b>
                        </p>

                    </div>
                   
            </div>
        </div>
   
 
  <!-- Scroll Up -->
  <div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<!-- JS here -->

<script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="./js/vendor/jquery-1.12.4.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="./js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="./js/owl.carousel.min.js"></script>
<script src="./js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="./js/wow.min.js"></script>
<script src="./js/animated.headline.js"></script>
<script src="./js/jquery.magnific-popup.js"></script>

<!-- Date Picker -->
<script src="./js/gijgo.min.js"></script>
<!-- Nice-select, sticky -->
<script src="./js/jquery.nice-select.min.js"></script>
<script src="./js/jquery.sticky.js"></script>


<!-- counter , waypoint,Hover Direction -->
<script src=".js/jquery.counterup.min.js"></script>
<script src="./js/waypoints.min.js"></script>
<script src="./js/jquery.countdown.min.js"></script>
<script src="./js/hover-direction-snake.min.js"></script>


<!-- Jquery Plugins, main Jquery -->	
<script src="./js/plugins.js"></script>
<script src="./js/main.js"></script>
<script src="./js/script.js"></script>
<style>
    #more1{display: none;} 


    </style>
</body>
</html>