<!DOCTYPE html>
<html>
   
   <head>
      <title>HTML Frames</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="js/main.js">
    <link rel="stylesheet" href="scss/bootstrap.scss">
   </head>
   
   <frameset cols = "25%,*" frameborder = "0">
      <frame name = "left" src = "users.html" />
  
      <frame name = "right" src = "right.html" />
      
      <noframes>
         <body>Your browser does not support frames.</body>
      </noframes>
   </frameset>
   
</html>